<form action = "/stand/white">
    Enter keyword: <input type="text" name="keyword"></br>
    Enter offset: <input type="text" name="offset"></br>
    Enter number of pages you want to search <input type="text" name="number_of_pages"></br>
    <input type="submit" value="검색">
</form>