<form action="/kichen/stoll" method="GET">
    <input type="text" name="user_string">
    <input type="submit" value="Enter">
</form>

<form action="/kichen/stoll" method="GET">
    <input type="text" name="user_int">
    <input type="submit" value="Enter">
</form>